* {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif !important;
}
/* global.css or inside _app.js import */

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: #f0f5ff !important; /* light blue background on hover */
}

.ant-pagination-prev button,
.ant-pagination-next button {
  background-color: #1677ff !important; /* blue */
  border-color: #1677ff !important;
  color: #fff !important;
}
.ant-pagination-item-ellipsis {
  background-color: #1677ff !important; /* blue */
  border-color: #1677ff !important;
  color: #fff !important;
  border-radius: 8px;
}
.ant-pagination-item :hover {
  background-color: #4096ff !important; /* lighter blue on hover */
  border-color: #4096ff !important;
  color: #fff !important;
  border-radius: 8px;
}

.ant-pagination-prev button:hover,
.ant-pagination-next button:hover {
  background-color: #4096ff !important; /* lighter blue on hover */
  border-color: #4096ff !important;
  color: #fff !important;
}
